@model MyTestMVC.Models.DropdownViewModel

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="form-group">
    @Html.LabelFor(x => Model.SelectedCountry, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-5">
        @Html.DropDownListFor(x => Model.SelectedCountry, new SelectList(Model.Countries, "Value", "Text"), htmlAttributes: new { @class = "form-control", id = "Country" })
        @Html.ValidationMessageFor(x => x.SelectedCountry, "", new { @class = "text-danger" })
    </div>
</div>
